# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Editor configs
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db 